{% macro student_sidenav() %}


<div id="mySidenav" class="sidenav">
	<p class="sidenavheading">PES University</p>
	<hr>
	<a href="{{ url_for('student_courses') }}">Courses</a>
	<a href="{{ url_for('student_feedback') }}">Feedback</a>
	<a href="{{ url_for('student_notifications') }}">Notifications</a>
</div>

{% endmacro %}

{% macro faculty_sidenav() %}

<div id="mySidenav" class="sidenav">
	<p class="sidenavheading">PES University</p>
	<hr>
	<a href="{{ url_for('faculty_courses') }}">Courses Taught</a>
	<a href="{{ url_for('faculty_notifications') }}">Notifications</a>
</div>

{% endmacro %}

{% macro admin_sidenav() %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
	.dropdown-btn {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 20px;
	color: rgba(255, 255, 255, 0.6);
	display: block;
	border: none;
	background: none;
	width: 100%;
	text-align: left;
	cursor: pointer;
	outline: none;
	font-size: 25px;
	}

	.dropdown-container {
	display: none;
	background-color: rgb(2, 0, 116);
	padding-left: 8px;
	}

	.fa-caret-down {
	float: right;
	padding-right: 8px;
	}

</style>

<div id="mySidenav" class="sidenav">
	<p class="sidenavheading">PES University</p>
	<hr>

	<button class="dropdown-btn">Courses<i class="fa fa-caret-down"></i></button>
	<div class="dropdown-container">
		<a href="{{ url_for('admin_courses') }}">View Courses</a>
		<a href="{{ url_for('add_course') }}">Add Course</a>
		<a href="{{ url_for('edit_course') }}">Edit Course</a>
	</div>

	<button class="dropdown-btn">Notifications<i class="fa fa-caret-down"></i></button>
	<div class="dropdown-container">
		<a href="{{ url_for('admin_notifications') }}">View</a>
		<a href="{{ url_for('add_notification') }}">Add</a>
		<a href="{{ url_for('edit_notifications') }}">Edit</a>
	</div>

	<button class="dropdown-btn">Students<i class="fa fa-caret-down"></i></button>
	<div class="dropdown-container">
		<a href="{{ url_for('admin_students') }}">View Students</a>
		<a href="{{ url_for('add_student') }}">Add Student</a>
		<a href="{{ url_for('edit_student') }}">Edit Student</a>
	</div>

	<button class="dropdown-btn">Faculty<i class="fa fa-caret-down"></i></button>
	<div class="dropdown-container">
		<a href="{{ url_for('add_faculty') }}">Add Faculty</a>
		<a href="{{ url_for('edit_faculty') }}">Edit Faculty</a>
	</div>
</div>

<script>
	var dropdown = document.getElementsByClassName("dropdown-btn");
	var i;

	for (i = 0; i < dropdown.length; i++) {
		dropdown[i].addEventListener("click", function() {
		this.classList.toggle("active");
		var dropdownContent = this.nextElementSibling;
		if (dropdownContent.style.display === "block") {
		dropdownContent.style.display = "none";
		} else {
		dropdownContent.style.display = "block";
		}
		});
	}
</script>
{% endmacro %}


{% macro topnav() %}

<div class="topnav">
	<img src='/static/img/logoPesu.png' alt="User Image" class="logopesu">
	<a href="{{url_for('logout')}}">Logout</a>
</div>

{% endmacro %}