{% macro student_sidenav() %}


<div id="mySidenav" class="sidenav">
	<p class="sidenavheading">PES University</p>
	<hr>
	<a href="{{ url_for('student_courses') }}">Courses</a>
	<a href="{{ url_for('student_feedback') }}">Feedback</a>
	<a href="{{ url_for('student_notifications') }}">Notifications</a>
</div>

{% endmacro %}

{% macro faculty_sidenav() %}

<div id="mySidenav" class="sidenav">
	<p class="sidenavheading">PES University</p>
	<hr>
	<a href="{{ url_for('faculty_courses') }}">Courses Taught</a>
	<a href="{{ url_for('faculty_notifications') }}">Notifications</a>
</div>

{% endmacro %}

{% macro admin_sidenav() %}

<div id="mySidenav" class="sidenav">
	<p class="sidenavheading">PES University</p>
	<hr>
	<a href="{{ url_for('add_course') }}">Add Courses</a>
	<a href="{{ url_for('edit_course') }}">Edit Courses</a>
	<a href="{{ url_for('admin_notifications') }}">Notifications</a>
	<a href="{{ url_for('add_notification') }}">Add Notifications</a>
	<a href="{{ url_for('edit_notification') }}">Edit Notifications</a>
	<a href="{{ url_for('add_student') }}">Add Student</a>
	<a href="{{ url_for('edit_student') }}">Edit Student</a>
	<a href="{{ url_for('add_faculty') }}">Add Faculty</a>
	<a href="{{ url_for('edit_faculty') }}">Edit Faculty</a>
</div>

{% endmacro %}


{% macro topnav() %}

<div class="topnav">
	<img src='/static/img/logoPesu.png' alt="User Image" class="logopesu">
	<a href="{{url_for('logout')}}">Logout</a>
</div>

{% endmacro %}