{% from "_macros.html" import student_sidenav, topnav %}

<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="../static/css/_macros.css" rel="stylesheet">
		<style>
			.innerContainer {
				width: 90%;
				padding: 20px;
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
				border-radius: 10px;
			}
			.imageStyle {
				width: 300px;
				max-height: 200px;
				margin: 20px;
				float: right;
			}
		</style>
	</head>

	<body>

		{{ student_sidenav() }}

		<div id="main">
			{{ topnav() }}

			<div class="contentContainer">
				<div class="innerContainer">
					<img src="{{ announcement.PictureLink }}" class="imageStyle" />
					<h2>{{ announcement.Title }}</h2>
					<p>
						Posted:
						<i>
							{{ announcement.PostingTime.day }} - {{ announcement.PostingTime.month }} - {{ announcement.PostingTime.year }}, {{ announcement.PostingTime.hour }}:{{ announcement.PostingTime.minute }}
						</i>
					</p>
					{% if(announcement.Location) %}
						<p> Location:  {{ announcement.Location }} </p>
					{% endif %}
					<br>
					<p>{{ announcement.Description | safe}}</p>
					{% if(announcement.HyperLink) %}
						<a href = "{{ announcement.HyperLink }}">Attachment</a>
					{% endif %}
					<br>
					<br>
				</div>
			</div>
		</div>
	</body>
</html> 
